body { background-color: white; color: black; font-family: arial; font-size: .8em; margin: 0px; }
h1 { text-align: center; }

a:link { text-decoration: none; color: #0000cc; font-weight: bold }
a:visited { text-decoration: none; color: #0000cc; font-weight: bold }
a:hover { text-decoration: none; color: #cc0000; font-weight: bold }
a:hover { text-decoration: none; color: #cc0000; font-weight: bold }

.bd { list-style-image: url(../images/bd.gif); color: #9999ff; }
.ng { list-style-image: url(../images/ng.gif); color: #3333cc; }
.fb { list-style-image: url(../images/fb.gif); color: #996600; }
.mbb { list-style-image: url(../images/mbb.gif); color: #ff6633; }
.wbb { list-style-image: url(../images/wbb.gif); color: #ff6699; }
.vb { list-style-image: url(../images/vb.gif); color: #666666; }
.fyi { list-style-type: square; color: #999999; }
.break { padding: 3px; color: black }

.on_tab { 
background-color: white; 
border-top: 1px solid #333399; border-bottom: 1px solid white; 
font-size: 12px; font-family: arial; 
padding: 3px 5px 1px 5px }

.off_tab { 
background-color: #cccccc; 
border: 1px solid #333399; 
font-size: 12px; font-family: arial; 
padding: 3px 5px 1px 5px }

.float { float:left; margin-right: 20px; }