.project-page {
  width: 100%;
}

.project-section {
  padding: 4rem 0;
  background-color: var(--color-near-black);
  min-height: 60vh;
}

.project-section h1 {
  margin-bottom: 2rem;
  color: var(--color-near-white);
}

.project-section p {
  color: var(--color-near-white);
  margin-bottom: 1rem;
}

.project-section a {
  color: var(--color-blue);
}

