@charset "UTF-8";

body { font: 100%/1.4 Georgia, Georgia, "Times New Roman", Times, serif; background: #eee; margin: 0; padding: 0; color: #222; }

ul, ol, dl { padding: 0; margin: 0; }
	
h1, h2, h3, h4, h5, h6, p {
	margin-top: 0;	 
	padding-right: 15px;
	padding-left: 15px; 
}
a img { border: none; }

a:link { color:#3483ff; text-decoration: none; }
a:visited { color: #3483ff; text-decoration: none; }
a:hover, a:active, a:focus { text-decoration: underline; }
a.zoomable { cursor: zoom-in; }
.container { width: 100%; max-width: 1000px; margin: 0 auto; }

.content { padding: 10px 0; }
.content ul, .content ol { padding: 0 15px 15px 40px; }

.floatright { float: right; margin-left: 8px; }
.floatleft { float: left; margin-right: 8px; }
.clearfloat { clear:both; height:0; font-size: 1px; line-height: 0px; }
.floatboxes { float: left; margin-right: 20px; width: 220px; height: 200px; padding-left: 10px; }

header { width: 100%; height: 175px; background: #31302f url('http://coreystone.com/coreystone/ui/images/header.jpg') no-repeat top center; color: #fff; }
header h1 { text-align:center; font-size: 2.5em; padding: 20px 5px 5px 5px; margin: 0; font-family: Georgia, "Times New Roman", Times, serif; font-weight:normal; text-shadow: 0 1px 5px rgba(0,0,0,.65); }
header h2 { text-align: center; font-size: 1.5em; padding: 10px 5px; margin: 0; font-family: Georgia, "Times New Roman", Times, serif; font-weight:normal; text-shadow: 0 1px 5px rgba(0,0,0,.65); }
header p { color: #aaa; text-align: center; font-size: 1em; padding: 7px; margin: 0; }
header a { color: #89b7ff; }

article { background-color:#fff; border: 1px solid #ccc; border-radius: 20px; padding: 20px; margin: 20px; }
article p { min-width: 280px !important; font-size: 16px; }
.scaledimage { min-width: 280px; max-width: 700px; padding: 0 10px; }
.scaledimage img { width: 100%; padding-bottom: 20px; }
.pullquote { font-size: 150%; color: #000; width: 300px; padding-right: 10px; text-align: center; }
.pullquotesource { font-size: 14px !important; text-align: right; margin-top: 0; padding-top: 0; }
.bigintro { font-size: 125%; padding: 20px; }

@media (max-width: 480px){ 
header h1 { text-align:center; font-size: 2em; padding: 7px 5px 0 5px; margin: 0; font-family: Georgia, "Times New Roman", Times, serif; font-weight:normal; text-shadow: 0 1px 5px rgba(0,0,0,.65); }
header h2 { text-align: center; font-size: 1.1em; padding: 5px 5px; margin: 0; font-family: Georgia, "Times New Roman", Times, serif; font-weight:normal; text-shadow: 0 1px 5px rgba(0,0,0,.65); }
article { background-color:#fff; border: 1px solid #ccc; border-radius: 0; padding: 10px; margin: 20px 0; }
article p { min-width: 240px !important; }
.scaledimage { min-width: 260px; max-width: 700px; }
.pullquote { font-size: 150%; color: #000; width: 100%; padding: 10px; text-align: center; }

}